* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
}

body,
html {
  width: 100vw;
  height: fit-content;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
